


DATABASE_URL="database-url"

MAILTRAP_HOST=example@smtp.com
MAILTRAP_PORT=1234
MAILTRAP_USER=admin
MAILTRAP_PASS=admin

NEXTAUTH_SECRET="totallySecureSSLkey"
NEXTAUTH_URL="http://localhost:3000"


NEXT_PUBLIC_CONFIG_IMAGE_URL="/img/silex.png"
NEXT_PUBLIC_CONFIG_NAME="Silex"
NEXT_PUBLIC_CONFIG_ADRESSE="123 Avenue des pas perdus"
NEXT_PUBLIC_CONFIG_VILLE="13000 Gotham City, France"
NEXT_PUBLIC_CONFIG_TELEPHONE="01 23 45 67 89"
NEXT_PUBLIC_CONFIG_EMAIL="contact@pouet.com"

NEXT_PUBLIC_MAIN_ROUTE=theo
NEXT_PUBLIC_SITE_URL=http://localhost:3000



